<?xml version="1.0"  encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mm.dev.dao.mapper.user.UserMapper">

    <resultMap id="userResultMap" type="com.mm.dev.entity.user.User">
        <id property="id" jdbcType="VARCHAR" javaType="String" column="id" />
        <result property="nickName" jdbcType="VARCHAR" javaType="String" column="nick_name" />
        <result property="openId" jdbcType="VARCHAR" javaType="String" column="openId" />
    </resultMap>

    <sql id="baseColumn">
    	id,
    	nick_name as nickName,
    	sex,
    	open_id as openId,
    	phone,
    	user_name as userName,
    	pass_word as passWord,
    	headimgurl,
    	rank,
    	type,
    	country,
    	province,
    	city,
    	attenation,
    	un_attenation as unAttenation,
    	last_login_ip_address as lastLoginIpAddress
    </sql>
    
    <insert id="save">
    	insert t_user (
    		id,
	    	nick_name,
	    	sex,
	    	open_id,
	    	phone,
	    	user_name,
	    	pass_word,
	    	headimgurl,
	    	country,
	    	province,
	    	city,
	    	attenation,
	    	un_attenation,
	    	last_login_ip_address
	    	)
    	value (
    		#{id},
	    	#{nickName},
	    	#{sex},
	    	#{openId},
	    	#{phone},
	    	#{userName},
	    	#{passWord},
	    	#{headimgurl},
	    	#{country},
	    	#{province},
	    	#{city},
	    	#{attenation},
	    	#{unAttenation},
	    	#{lastLoginIpAddress}
    	)
    </insert>
    
    <select id="getuserBaseInfoByopenId" resultType="com.mm.dev.entity.user.User">
    	SELECT
    		t.nick_name as nickName,
    		t.headimgurl,
    		t.sex
   		FROM
   			t_user t
		WHERE
   			t.open_id = #{openId}
    </select>

    <update id="updateUserInfo">
    	UPDATE 
    		t_user t
   		<set>
   			<if test="attenation != null and attenation != ''">
	   			t.`attenation` = #{attenation},
   			</if>
   			<if test="unAttenation != null and unAttenation != ''">
	   			t.`un_attenation` = #{unAttenation},
   			</if>
   			<if test = "headimgurl != null and headimgurl != ''">
	   			t.headimgurl = #{headimgurl},
   			</if>
   			<if test = "sex != null and sex != ''">
	   			t.sex = #{sex},
   			</if>
   			<if test = "nickName != null and nickName != ''">
	   			t.nick_name = #{nickName},
   			</if>
   			t.update_time = now()
   		</set>
   		WHERE 
   			t.`open_id` = #{openId}
    </update>
</mapper>